<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="javax.persistence.validation.mode">none</property>
		<!-- 数据库连接 -->
		<property name="connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>
		<property name="connection.url">
			jdbc:oracle:thin:@localhost:1521:orcl
		</property>
		<property name="connection.username">scott</property>
		<property name="connection.password">1111</property>
		<!-- 辅助参数 -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="current_session_context_class">thread</property>
		<!-- 映射信息 -->
		<mapping resource="com/niu/hib/dao/Dept.hbm.xml" />
	</session-factory>
</hibernate-configuration>